<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
      <style>
          .basic {
              width: 200px;
              height: 100px;
              line-height: 100px;
              text-align: center;
              border: 1px solid black;
              margin-bottom: 10px;
          }

          .normal {
              background-color: skyblue;
          }
          .happy {
              background-color: rgba(255, 255, 255, 0.6444);
          }
          .sad {
              background-color:gray;
          }
          .atguigu1 {
              background-color: yellowgreen;
          }
          .atguigu2 {
              font-size: 30px;
          }
          .atguigu3 {
              border-radius: 20px;
          }
      </style>
  </head>
  <body>
    <div id="app">
        <a v-bind:href="url">go to study</a>
        <br>
        <button v-on:click="confirm">sure</button>

        <h2>测评得分：{{score}}</h2>
        <h3>测评结果：{{resultText}}</h3>
        <button @click="reExam">学习之后的测评</button>

        <p>
            first name: <input type="text" v-model="firstName">
        </p>
        <p>
            last name: <input type="text" v-model="lastName">
        </p>
        <p>
            family name: <input type="text" placeholder="format : first-name - last-name" v-model="familyName">
        </p>

        title: <input type="text" placeholder="输入内容同步到标题" v-model="title">
        <br>
        question: <span>{{question}}</span>

        <h3>name: {{person.name}}</h3>
        <h3>likes : {{person.likes}}</h3>
        <button @click="updateP">update person information</button>

        <h2>test class bind</h2>
        <div class="basic" :class="classStr" @click="updateClass1">change_one</div>
        <div class="basic" :class="classObj" @click="updateClass2">change_two</div>
        <div class="basic" :class="classArr" @click="updateClass3">change_three</div>

        <h1>你的入学得分：{{score}}</h1>
        <button @click="examAgin" v-if="score<60">study once again</button>
        <h2 v-if="score>=60" style="color:green">welcome to our school</h2>
        <h2 v-else style="color: red">im sorry you dont pass</h2>

        <h2>测试遍历数组</h2>
        <ul>
            <li v-for="(p, index) in persons">
                {{index}}--{{p.name}}--{{p.age}}
            </li>
        </ul>
        <!--增删改查-->

        <ul>
            <li v-for="(p, index) in persons" :key="p.id" style="margin-top: 5px">
                {{p.name}}--{{p.age}}
                --<button @click="deleteItem(index)">delete</button>
                --<button @click="updateItem(index, {
                id:Date.now(),name:'lan',age:12
                })">update</button>
            </li>
        </ul>
        <button @click="addFirst({
        id:Date.now(),name:'red',age:11
        })">add first</button>
        <button @click="addLast({
            id:Date.now(),'name':'ming',age:12
        })">add last</button>
        <h2>增删改查</h2>
        <!--过滤-->
        <input type="text" placeholder="姓名" v-model="keyword"/>
        <h2>人员列表</h2>
        <ul>
            <li v-for="(p, index) of filterPersons" :key="index">
                {{p.name}}--{{p.age}}
            </li>
        </ul>

        <!--表单-->
        <form @submit.prevent="confirm2">
            账号：<input type="text" v-model="userInfo.account">
            <br><br>
            密码：<input type="password" v-model="userInfo.password">
            <br><br>
            年龄：<input type="number" v-model="userInfo.age">
            <br><br>
            性别：
            男：<input type="radio" name="sex" v-model="userInfo.sex" value="male">
            女：<input type="radio" name="sexx" v-model="userInfo.sex" value="female">
            爱好：
            学习：<input type="checkbox" v-model="userInfo.hobby" value="study">
            打游戏: <input type="checkbox" v-model="userInfo.bobby" value="game">
            旅行：<input type="checkbox" v-model="userInfo.hobby" value="eat">
            <br><br>
            所属校区:
            <select v-model="userInfo.city">
                <option value="">请选择校区</option>
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
                <option value="guangzhou">广州</option>
            </select>
            <br><br>
            其他信息
            <textarea v-model="userInfo.other"></textarea>
            <br><br>
            <input type="checkbox" v-model="userInfo.agree">阅读并接受
            <button>提交</button>
        </form>
        <div>预览：{{userInfo}}</div>
    </div>
  </body>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
      const {createApp} = Vue

      createApp({
          data() {
              return {
                  url:"http://www.baidu.com",
                  score:5,
                  firstName:"A",
                  lastName:"B",
                  title:"",
                  question:"",
                  person : {
                      name:"vue-js",
                      likes:['football','basketball']
                  },
                  classStr : "normal",
                  classObj : {
                      atguigu1: true,
                      atguigu2: false,
                  },
                  classArr : ['atguigu1','atguigu2','atguigu3'],
                  persons : [
                      {id:'001',name:'zhangsan',age:22},
                      {id:'002',name:'lisi',age:24},
                      {id:'003',name:'wangwu',age:23}
                  ],
                  keyword:"",
                  userInfo : {
                      account:"",
                      password:"",
                      age:18,
                      sex:'female',
                      hobby:['study'],
                      city:'beijing',
                      other:"",
                      agree:false
                  }
              }
          },
          methods: {
              confirm2() {
                    alert(`提交请求，用户信息 : ` + JSON.stringify(this.userInfo))
              },
              confirm() {
                  if (window.confirm("Are you sure?")) {
                      window.location.href = 'http://www.baidu.com'
                  }
              },
              reExam() {
                  this.score += 60
              },
              updateP() {
                  this.person = {
                      name : this.person.name + '----',
                      likes : [...this.person.likes,'sing']
                  }
              },
              updateClass1() {
                  const arr = ['happy','sad','normal']
                  const index = Math.floor(Math.random() * 3);
                  this.classStr = arr[index];
              },
              updateClass2() {
                  this.classObj.atguigu1 = !this.classObj.atguigu1;
                  this.classObj.atguigu2 = !this.classObj.atguigu2;
              },
              updateClass3() {
                  this.classArr.pop()
              },
              examAgin() {
                  this.score += 55
              },
              addFirst(newP) {
                  this.persons.unshift(newP)
              },
              addLast(newP){
                  this.persons.push(newP)
              },
              deleteItem(index) {
                this.persons.splice(index,1)
              },
              updateItem(index,newP) {
                  this.persons.splice(index,1,newP)
              }
          },
          //计算属性
          computed: {
              resultText() {
                  console.log('computed resultText')
                  const result = this.score > 60 ? 'passed' : 'failed'
                  return result
              },
              //修改family name的时候会一并修改A+B的内容
              familyName : {
                  get() {
                      console.log('familyName get()')
                      return this.firstName + '-' + this.lastName
                  },
                  set(value) {
                      console.log('familyName set', value)
                      const name = value.split('-')
                      this.firstName = name[0]
                      this.lastName = name[1]
                  }
              },
              filterPersons() {
                  return this.persons.filter((p) => {
                      return p.name.indexOf(this.keyword) !== -1
                  })
              }
          },
          watch: {
                title (newValue,oldValue) {
                    console.log(oldValue)
                    console.log(newValue)
                    document.title = newValue
                    setTimeout( () => {
                        const question =   `${newValue}最匹配的问题？`
                        this.question = question
                    }, 1000)
                },
              person : {
                    handler (newValue, oldValue) {
                        setTimeout(() => {
                            alert("向后台提交信息" + JSON.stringify(newValue))
                        }, 1000)
                    },
                  immediate: true, //标识立即实行，初始化会执行第一次
                  deep: true, //深度监听
              }
          }
      }).mount('#app')
  </script>
</html>
